@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "daisyui";

@theme {
    --color-main: #4b86c3;
    --color-sub: #8fb7e0;
    --color-surface: #EEEEEE;
    --color-accentOne: #5d9ad9;

    --color-mainDark: #3c76b4;
    --color-subDark: #1f4770;
    --color-surfaceDark: #333333;
    --color-accentOneDark: #2663a1;
}


/* ["0B0604","3E2514","A1282D","E4AD57","ADA5A2","D2C7B1"]) */